<section class="degree-edit">
  <div class="flash-container">
    <flash-message></flash-message>
  </div>

  <h1>Degree: <span editable-text="degree.name">{{ degree.name || "Enter degree name" }}</span></h1>

  <p>To complete a concentration, a student must complete all of its categories and required courses.</p>
  <p>To complete a category, a student must complete a certain number of the courses inside.</p>

  <div class="row">
    <div class="col-md-6">

      <h2>Concentrations</h2>
      <ul>
        <li ng-repeat="concentration in degree.concentrations | hideDeleted">
          {{ concentration.name }}
          <span class="clickable glyphicon glyphicon-edit" ng-click="editConcentration(concentration)"></span>
          <span class="clickable glyphicon glyphicon-remove" ng-click="deleteConcentration(concentration)"></span>
          <!-- <a ng-click="editConcentration('conc')">Edit</a> -->
        </li>
        <span class="clickable add-to-list" ng-click="addConcentrationVisible = true" ng-hide="addConcentrationVisible"><span class="glyphicon glyphicon-plus"></span> Add concentration</span>
      </ul>
      <div ng-show="addConcentrationVisible">
        <input ng-model="newConcentrationName">
        <button ng-click="createConcentration(newConcentrationName)">
          <span class="glyphicon glyphicon-ok"><span class="sr-only">OK</span></span>
        </button>
        <button ng-click="addConcentrationVisible = false">
          <span class="glyphicon glyphicon-remove"><span class="sr-only">Cancel</span></span>
        </button>
      </div>

      <h2>Core courses</h2>
      <ul>
        <li ng-repeat="course in degree.required_courses">
          {{ course.name }}
          <span class="clickable glyphicon glyphicon-remove" ng-click="removeElementFromArray(course, degree.required_courses)"></span>
        </li>
        <input id='coreCourseInput'
               ng-if='addingCoreCourse'
               class='form-control'
               placeholder='Enter a course name or number'
               ng-blur='hideCourseInput()'
               bs3-typeahead
               bs3-promise='courseNames'
               ng-model='addedCoreCourse'
               bs3-afterSelect='addCoreCourse'>

        <span class="clickable add-to-list"
              ng-if='!addingCoreCourse'
              ng-click='showCourseInput()'>
          <span class="glyphicon glyphicon-plus"></span> Add a course
        </span>
        <!-- FIXME: This requires a second click after you select the course; Alexa's does not. Ask why. -->
      </ul>
      <button class="btn btn-primary btn-block" ng-click="saveDegree()" ng-hide="concentrationService.current">Save Degree</button>
    </div>

    <div class="col-md-6" ng-show="concentrationService.current">
      <h2><span editable-text="concentrationService.current.name">{{ concentrationService.current.name }}</span> concentration</h2>
      <span class="clickable" ng-click="concentrationService.createCategory()">New category</span>
      <label class="pull-right"><input type="checkbox" ng-model="concentrationService.current.has_thesis_track"> Thesis option available</label>

      <category-edit ng-repeat="category in concentrationService.current.categories" category="category" removeElementFromArray="removeElementFromArray"></category-edit>

      <div class="category bordered course-section" ng-show="concentrationService.current.has_thesis_track">
        <h3>Thesis track</h3>
        <table class="category-table">
          <tr>
            <td></td>
            <td>Required thesis hours</td>
            <td><input type="number" class="credits-input" ng-model="concentrationService.current.thesis_track.thesis_hours"></td>
          </tr>
          <tr>
            <td></td>
            <td>Required elective hours</td>
            <td><input type="number" class="credits-input" ng-model="concentrationService.current.thesis_track.elective_hours"></td>
          </tr>
        </table>
        <div class='required-units'>Units required: {{ concentrationService.current.thesis_track.thesis_hours + concentrationService.current.thesis_track.elective_hours }}</div>
      </div>
      <div class="category bordered course-section" ng-show="concentrationService.current.has_thesis_track">
        <h3>Non-thesis track</h3>
        <table class="category-table">
          <tr>
            <td></td>
            <td>Required elective hours</td>
            <td><input type="number" class="credits-input" ng-model="concentrationService.current.non_thesis_track.elective_hours"></td>
          </tr>
        </table>
        <div class='required-units'>Units required: {{ concentrationService.current.non_thesis_track.elective_hours }}</div>
      </div>
      <button class="btn btn-primary btn-block" ng-click="concentrationService.save()">Save concentration</button>
    </div>
  </div>
</section>
