<h1>Degree: <span editable-text="degree.name">{{ degree.name || "Enter degree name" }}</span></h1>

<p>To complete a concentration, a student must complete all of its categories and required courses.</p>
<p>To complete a category, a student must complete a certain number of the courses inside.</p>

<div class="row">
  <div class="col-md-6">

    <h2>Concentrations</h2>
    <ul>
      <li ng-repeat="concentration in degree.concentrations">
        {{ concentration.name }}
        <span class="clickable glyphicon glyphicon-edit" ng-click="editConcentration(concentration)"></span>
        <span class="clickable glyphicon glyphicon-remove" ng-click="deleteConcentration(concentration)"></span>
        <!-- <a ng-click="editConcentration('conc')">Edit</a> -->
      </li>
    </ul>
    <button class="btn btn-default" ng-click="addConcentrationVisible = true" ng-hide="addConcentrationVisible">Add concentration</button>
    <div ng-show="addConcentrationVisible">
      <input ng-model="newConcentration.name">
      <button ng-click="createConcentration()">
        <span class="glyphicon glyphicon-ok"><span class="sr-only">OK</span></span>
      </button>
      <button ng-click="addConcentrationVisible = false">
        <span class="glyphicon glyphicon-remove"><span class="sr-only">Cancel</span></span>
      </button>
    </div>

    <h2>Core courses</h2>
    <ul>
      <li ng-repeat="course in degree.required_courses">
        {{ course.name }}
        <span class="clickable glyphicon glyphicon-remove" ng-click="removeElementFromArray(course, degree.required_courses)"></span>
      </li>
      <input id='coreCourseInput'
             ng-if='addingCoreCourse'
             class='form-control'
             placeholder='Enter a course name or number'
             ng-blur='hideCourseInput()'
             bs3-typeahead
             bs3-promise='courseNames'
             ng-model='addedCoreCourse'
             bs3-afterSelect='addCoreCourse'>

      <span class="clickable add-course-link"
            ng-if='!addingCoreCourse'
            ng-click='showCourseInput()'>
        &#43; Add a course
      </span>
      <!-- FIXME: This requires a second click after you select the course; Alexa's does not. Ask why. -->
    </ul>

  </div>
  <div class="col-md-6" ng-show="currentConcentration.name">
    <h2>{{ currentConcentration.name }} concentration</h2>
    <a>New category</a>
    <label><input type="checkbox"> Thesis option available</label>

    <category-edit ng-repeat="category in currentConcentration.categories" category="category" removeElementFromArray="removeElementFromArray"></category-edit>

    <div class="category bordered course-section">
      <h3>Thesis track</h3>
      <table class="category-table">
        <tr>
          <td></td>
          <td>Required thesis hours</td>
          <td><input type="number" class="credits-input" ng-model="currentConcentration.thesis_track.thesis_hours"></td>
        </tr>
        <tr>
          <td></td>
          <td>Required elective hours</td>
          <td><input type="number" class="credits-input" ng-model="currentConcentration.thesis_track.elective_hours"></td>
        </tr>
      </table>
      <div class='required-units'>Units required: {{ currentConcentration.thesis_track.thesis_hours + currentConcentration.thesis_track.elective_hours }}</div>
    </div>
    <div class="category bordered course-section">
      <h3>Non-thesis track</h3>
      <table class="category-table">
        <tr>
          <td></td>
          <td>Required elective hours</td>
          <td><input type="number" class="credits-input" ng-model="currentConcentration.non_thesis_track.elective_hours"></td>
        </tr>
      </table>
      <div class='required-units'>Units required: {{ currentConcentration.non_thesis_track.elective_hours }}</div>
    </div>
  </div>
</div>

<button class="btn btn-primary" ng-click="saveDegree()">Save Degree</button>
