<h2>Degree: <span editable-text="degree.name">{{ degree.name || "Enter degree name" }}</span></h2>

<p>To complete a concentration, a student must complete all of its categories and required courses.</p>
<p>To complete a category, a student must complete a certain number of the courses inside.</p>

<div class="row">
  <div class="col-md-6">

    <h3>Concentrations</h3>
    <ul>
      <li ng-repeat="concentration in degree.concentrations">
        {{ concentration.name }}
        <span class="clickable glyphicon glyphicon-edit" ng-click="editConcentration(concentration)"></span>
        <span class="clickable glyphicon glyphicon-remove" ng-click="deleteConcentration(concentration)"></span>
        <!-- <a ng-click="editConcentration('conc')">Edit</a> -->
      </li>
    </ul>
    <button class="btn btn-default" ng-click="addConcentrationVisible = true" ng-hide="addConcentrationVisible">Add concentration</button>
    <div ng-show="addConcentrationVisible">
      <input ng-model="newConcentration.name">
      <button ng-click="createConcentration()">
        <span class="glyphicon glyphicon-ok"><span class="sr-only">OK</span></span>
      </button>
      <button ng-click="addConcentrationVisible = false">
        <span class="glyphicon glyphicon-remove"><span class="sr-only">Cancel</span></span>
      </button>
    </div>

    <h3>Core courses</h3>
    <ul>
      <li ng-repeat="course in degree.required_courses">
        {{ course.name }}
        <span class="clickable glyphicon glyphicon-remove" ng-click="deleteCoreCourse(course)"></span>
      </li>
    </ul>

  </div>
  <div class="col-md-6" ng-show="currentConcentration.name">
    <h3>{{ currentConcentration.name }} concentration</h3>
    <a>New category</a>
    <label><input type="checkbox"> Thesis option available</label>

    <category-edit ng-repeat="category in currentConcentration.categories" category="category"></category-edit>
  </div>
</div>

<button class="btn btn-primary" ng-click="saveDegree()">Save Degree</button>
