<section class="ips-summary">

  <img src="diu-logo.png">

  <p class="text-center"><strong>Intended Plan of Study (IPS) for Admission to the World Arts Degree<span ng-if="planInfo.plan.concentration">, <u>{{ planInfo.plan.concentration }} Concentration</u></span></strong></p>

  <div class="info-underline">
    <p>{{ student.last_name }}, {{ student.first_name }}</p>
    <small>Name (Last, First Middle)</small>
  </div>

  <div class="info-underline">
    <p></p>
    <div class="captions">
      <small class="">Permanent Street Address</small>
      <small class="">City, State ZIP</small>
      <small class="">Phone Number</small>
    </div>
  </div>

  <div class="graduation-summary">

    <h2>Master of Arts in World Arts 
      <span ng-if="planInfo.plan.concentration">
        &mdash; {{ planInfo.plan.concentration }} Concentration
      </span>
      <span class="summary-grad-date" ng-if="planInfo.plan.graduation_year">{{ planInfo.plan.graduation_term }} {{ planInfo.plan.graduation_year }}</span>
    </h2>
    <div class="captions">
      <small>Degree Sought
        <span class="major">Graduate Major</span>
      </small>
      <small>Expected Degree Completion Date</small>
    </div>
  </div>

  <p class="text-center">Students admitted under this IPS will take Comprehensive Exams <strong>unless</strong> they have an approved <em>Petition to Write a Thesis for the World Arts Degree</em> on file with the Registrar.</p>

  <div class="summary-prerequisites">
    <p><strong>Departmental Prerequisites:</strong> Required prerequisites for admission to the WA Degree have been met.</p>

    <div class="row">
      <div class="col-sm-8">
        <p class="prereq-underline"></p>
        <small>Signature of Advisor</small>
      </div>
      <div class="col-sm-4">
        <p class="prereq-underline"></p>
        <small>Date</small>
      </div>
    </div>
  </div>

  <div class="transfer-credit">
    <p><strong>Transfer Credit:</strong> <small>In order to apply toward your degree, all transferred credit must have been completed no earlier than 10 years prior to <u>completion</u> of the DIU graduate program. <u>In order to transfer credit, you must submit a <strong><em>Petition</em></strong>, with all the necessary signatures, to the Academic Affairs Office.</u> After transfer credit has been granted, list those courses below along with courses to be taken at DIU toward your degree. Up to 15 semester hours of transfer credits can be applied toward a degree.</small></p>
  </div>

  <p>List only the courses required for your degree. Include amount of transfer credit granted on your <em>Petition Form(s)</em>.</p>

  <table class="summary-plan">

    <tr>
      <td colspan="3">
        <strong>Date of <em>Catalog</em> when plan of study submitted:______________________ <em>(Term and Year)</em></strong>
      </td>
      <td>
        <strong>Term & Year</strong>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <strong>General Core</strong>
        <div style="float: right;"><strong>[F=fall, S=spring, Su=summer, M=May, ME=May Extended]</strong></div>
      </td>
      <td>
        <strong>{{ totalCoreCredits }} hours</strong>
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <div class="summary-required-courses dotted-line-container" ng-repeat="course in planInfo.plan.required_courses">
          <span class="dotted-line-left">{{ course.number }} {{ course.name }}</span>
          <span class="dotted-line-right">
            <span ng-repeat="term in course.terms">
              {{ term.abbreviation }}<span ng-show="!$last">,</span>
            </span>
          </span>
          <br>
        </div>
      </td>
      <td>
        <span class="summary-available-courses fill-in text-center" ng-repeat="course in planInfo.plan.required_courses">
          {{ course | summaryCourseFilter }}          
        </span>        
      </td>
    </tr>

    <tr>
      <td colspan="3">
        <strong>Specialization Options (choose at least two for each of the following categories):</strong>
      </td>
      <td><strong>{{ requiredHoursByCategory[0] + requiredHoursByCategory[1] }} hours</strong></td>
    </tr>

    <tr ng-repeat="category in planInfo.plan.available_courses">
      <td colspan="3">
        <strong>
          {{ category.name }}
          <span ng-if="category.required_units">(Required Units: {{ category.required_units }})</span>
        </strong>
        <div class="dotted-line-container" ng-repeat="course in category.courses">
          <span class="dotted-line-left">{{ course.number }} {{ course.name }}</span>
          <span class="dotted-line-right">
            <span ng-repeat="term in course.terms">
              {{ term.abbreviation }}<span ng-show="!$last">,</span>
            </span>
          </span>
        </div>
      </td>
      <td class="vertical-align-bottom">
        <span class="summary-available-courses fill-in text-center" ng-repeat="course in category.courses">
          {{ course | summaryCourseFilter }}
        </span>          
      </td>
    </tr>

  </table>

  <footer class="signatures">
    <h3>Authorization of Study Plan</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="approval">
          <p></p>
          <div class="line">
            <small>Signature of Student</small>
            <small>Date</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="approval">
          <p></p>
          <div class="line">
            <small>Signature of Graduate Advisor</small>
            <small>Date</small>
          </div>
        </div>
        <div class="approval">
          <p></p>
          <div class="line">
            <small>Signature of International Student Coordinator <br>(if an international student)</small>
            <small>Date</small>
          </div>
        </div>
      </div>
    </div>

    <h3>Approval for admission to the WA Degree</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="approval">
          <p></p>
          <div class="line">
            <small>Signature of Department Header</small>
            <small>Date</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="approval">
          <p></p>
          <small>Signature of Dean of Academic Affairs</small>
          <small>Date</small>
        </div>
      </div>
    </div>

    <small class="watermark">2020 WA Intended Plan of Study {{ planInfo.plan.concentration }}</small>
    
    <h3>Comments</h3>

    <div class="comments">
    </div>

  </footer>



</section>
