<section class="schedule">
  <div class="row">
    <div class="col-md-6">

      <h3>Unscheduled Courses</h3>

      <ul class="unscheduled-courses">
        <li ng-repeat="course in planInfo.plan.intended_courses">
          <span class="course-bubble" draggable="true">
            {{ course.number }} {{ course.term.name }} 
            {{ course.sessions | sessionFilter }}
          </span>
          {{ course.number}} {{ course.name }}
        </li>
      </ul>
    

    
    </div>
    <div class="col-md-6">
    
      
    
    </div>


</section>