<div class="row">
  <div class="col-xs-12">
    <h2>Intended Plan of Study for {{ "Jane Doe" }}</h2>
    <button class='btn btn-default pull-right'>Export PDF</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="degree-info">
      <span>MA with Major in World Arts -- Concentration: </span>

      <select ng-model='concentration'
              ng-options='concentration.name for concentration in concentrations'>
        <option value=""></option>        
      </select>

      <span>Graduating:</span>
      <select ng-model='term.name for term in terms'>
        <option value=""></option>
      </select>

      <select ng-model='graduationDate'
              ng-options='year in possibleYears'>
        <option value=""></option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    
    <div class="ips-navigation">
      <a ui-sref='ips.choose'></a>
      <a ui-sref='ips.schedule'></a>
    </div>

    <div class="registered-info">
      <span>IPS Registered</span>
      <input type="checkbox" ng-model='ips.registration_date'>
      {{ 'Registration information' }}
    </div>

  </div>
</div>