<div class="row">
  <div class="col-xs-12">
    <h2>Intended Plan of Study for {{ student.first_name + ' ' + student.last_name }}</h2>
    <button class='btn btn-default pull-right' ng-click="exportIPS()">Export PDF</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="degree-info">
      <span>MA with Major in World Arts -- Concentration: </span>

      <select ng-model='planInfo.plan.concentration_id'
              ng-options='concentration.id as concentration.name for concentration in concentrations'
              ng-change='updatePlan()'>
        <option value=""></option>        
      </select>

      <span>Graduating:</span>
      <select ng-model='planInfo.plan.graduation_term'
              ng-options='term for term in terms'
              ng-change='updatePlan()'>
        <option value=""></option>
      </select>

      <select ng-model='planInfo.plan.graduation_year'
              ng-options='year for year in planInfo.possibleYears'
              ng-change="updatePlan()">
        <option value=""></option>
      </select>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    
    <div class="ips-navigation">
      <a ui-sref='ips.choose'>Choose Courses</a>
      <a ui-sref='ips.schedule'>Schedule Courses</a>
    </div>

    <div class="registered-info">
      <span>Has the most recent intended plan of study been registered?</span>
      <input type="checkbox" ng-model="planInfo.plan.latest_registered" ng-change="toggleRegistration()">
      <p ng-if="planInfo.plan.registration_date" >An intended plan of study for {{ student.first_name }} was last registered on {{ planInfo.plan.registration_date | date }}</p>
    </div>

  </div>
</div>