<div class="row">
  <div class="col-xs-12">
    <p class="tagline">Check the box next to a course to add it to your Intended Courses.</p>
  </div>
</div>

<div class="row">

  <div class="col-xs-6 ips-left-col">
    <div class="completed-courses course-section">
      <h3>Completed Courses</h3>
      <table>
        <course-row ng-repeat='completed in planInfo.plan.completed_courses'
            course='completed'
            class='course-row'>

          <!-- this button is transcluded -->
          <button ng-click='toggleCompleted(completed)'>UnComplete</button>
        </course-row>
      </table>
    </div>

    <div class="intended-courses bordered course-section">
      <h3>Intended Courses</h3>
      <table>
        <course-row ng-repeat='intended in planInfo.plan.intended_courses'
            course='intended'
            checkbox-callback='addOrRemoveIntended(course)'
            class='course-row'>

          <!-- this button is transcluded -->
          <button ng-click='toggleCompleted(intended)'>Complete</button>
        </course-row> 

      </table>
    </div>
  </div>

  <!-- right column -->
  <div class="col-xs-6 ips-right-col">
    <div class="required-courses course-section">
      <h3>Required Courses</h3>
      <table>
        <!-- nothing transcluded -->
        <course-row ng-repeat='requirement in planInfo.plan.required_courses'
                    course='requirement'
                    class='course-row'>      
        </course-row>
      </table>
    </div><!-- required courses -->

    <!-- categories and their courses -->
    <div class="categories" ng-if='planInfo.plan.available_courses.length'>
      <div class="category bordered course-section"
           ng-repeat='category in planInfo.plan.available_courses'
           ng-class="{'green-border': category.satisfiedByIntended(),
                      'green-highlight': category.satisfiedByCompleted()}">

        <h3 ng-click='category.sumPlannedUnits()'>{{ category.name }}</h3>

        <table>
          <course-row ng-repeat='availableCourse in category.courses'
              course='availableCourse'
              checkbox-callback='addOrRemoveIntended(course)'
              class='course-row'>
            <!-- text transcluded -->
            {{ availableCourse.units }}
          </course-row>
        </table>

        <p class='required-units'>Units required: {{ category.required_units }}</p>

      </div><!-- category directive -->
    </div><!-- categories column -->

    <div class="bordered friendly-message text-center" ng-if='!planInfo.plan.available_courses.length'>
      <h4>If you plan to schedule more than the required courses,</h4>
      <h4>Please choose a concentration from the dropdown above!</h4>
    </div>
  </div><!-- right column -->

</div>