
  <div class="flash-container">
    <flash-message></flash-message>
  </div>


<button id="new-student-button" class="btn btn-default" ng-click="showNewCourseModal()" ng-if='currentAdvisor.is_admin'>&#43; New course</button>
<h3>Classes</h3>

  <section ng-if="!courses" class="loading-container">
    <div class="loading-items">
      <h3>Loading Classes</h3>
      <div class="spinner"></div>
    </div>
  </section>

  <section ng-if="courses" class="classes-index">
    <table class="table">
      <colgroup>
        <col>
        <col span="4" class="zebra-col">
        <col span="4">
        <col span="4" class="zebra-col">
        <col span="4">
      </colgroup>
      <thead>
        <th><input placeholder="Filter courses" ng-model="filteredCourses" class="form-control"></th>
        <th ng-repeat="term in termHeader track by $index" ng-class="{noBold: $index % 4 !== 0}" class="text-center">{{ term }}</th>
      </thead>

    <tr ng-repeat="course in courses | filter: filteredCourses | orderBy: 'number'">
      <td ng-if='currentAdvisor.is_admin'><span class="clickable" ng-click='showEditCourseModal(course)'>{{ course.number }} {{ course.name }}</span></td>
      <td ng-if='!currentAdvisor.is_admin'><span>{{ course.number }} {{ course.name }}</span></td>
      <td ng-repeat="termAttendance in course.attendance track by $index" class="text-center">
        <span ng-class='{ "disabled": termAttendance.canceled, "clickable": !termAttendance.canceled }'
              ng-click='showMeeting(termAttendance.meeting_id)'>
          {{ termAttendance.count }}
        </span>
      </td>
    </tr>
  </table>

  <modal id='new-course-form' ng-if='currentAdvisor.is_admin'>
    <modal-title>New Course</modal-title>
    <modal-body>
      <course-form course='newCourse'></course-form>
    </modal-body>
  </modal>

  <modal id='edit-course-form' ng-if='currentAdvisor.is_admin'>
    <modal-title>Edit Course</modal-title>
    <modal-body>
      <course-form course='course' ng-if='course'></course-form>
    </modal-body>
  </modal>

  <modal id='edit-meeting'>
    <modal-title>
      <h3>{{ meeting.course.full_name }}</h3>
      <p class="tagline">{{ meeting.sessions | sessionFilter }}, {{ meeting.term }} {{ meeting.year }}</p>
    </modal-title>
    <modal-body>
      <meeting-form></meeting-form>
    </modal-body>
  </modal>
</section>
