<h3>Classes</h3>

<table class="table">
  <colgroup>
    <col>
    <col span="4" class="zebra-col">
    <col span="4">
    <col span="4" class="zebra-col">
    <col span="4">
  </colgroup>
  <thead>
    <th><input placeholder="Filter courses" ng-model="filteredCourses" class="form-control"></th>
    <th ng-repeat="term in termHeader track by $index" ng-class="{noBold: $index % 4 !== 0}" class="text-center">{{ term }}</th>
  </thead>

  <tr ng-repeat="course in courses | filter: filteredCourses">
    <td>{{ course.number }} {{ course.name }}</td>
    <td ng-repeat="termAttendance in course.attendance track by $index" class="text-center">
      <span class='clickable'
            ng-click='showMeeting(termAttendance.meeting_id)'>
        {{ termAttendance.count }}
      </span>
    </td>
  </tr>
</table>

<modal id='edit-meeting'>
  <modal-title>
    <h3>Edit Class: {{ meeting.course }}</h3>
    <p class="tagline">Sessions: {{ meeting.sessions }}, {{ meeting.term }} {{ meeting.year }}</p>
  </modal-title>
  <modal-body>
  <form ng-model='meeting'>
    <input type="radio" ng-model='meeting.teaching_style' value='Distance'> Distance
    <input type="radio" ng-model='meeting.teaching_style' value='Residential'> Residential
    <input type="radio" ng-model='meeting.teaching_style' value='Intensive'> Intensive
  </form>
    <!-- <meeting-form></meeting-form> -->
  </modal-body>
</modal>