<h3>Classes</h3>

<table class="table">
  <!-- <tr>
    <td></td>
    <td colspan="9">2017</td>
  </tr> -->
  <tr>
    <td></td>
    <td table-repeat ng-repeat="term in terms" colspan="{{term.width}}">{{ term.name }}</td>
  </tr>
  <tr>
    <th><input placeholder="Filter classes"></th>
    <td table-repeat ng-repeat="session in sessions track by $index">{{ session }}</td>
  </tr>

  <tr ng-repeat="course in courses">
    <td>{{ course.number }} {{ course.name }}</td>
    <td ng-repeat="attendance in course.attendance.spring track by $index">{{ attendance }}</td>
    <td ng-repeat="attendance in course.attendance.summer track by $index">{{ attendance }}</td>
    <td ng-repeat="attendance in course.attendance.fall track by $index">{{ attendance }}</td>
  </tr>
</table>
