<div class="flash-container">
  <flash-message></flash-message>
</div>

  <button id="new-student-button" class="btn btn-default" ng-click="showNewStudentForm = true" ng-hide="showNewStudentForm || !currentAdvisor.is_admin">&#43; New student</button>
  <button id="new-student-button" class="btn btn-danger" ng-click="closeForm()" ng-hide="!showNewStudentForm || !currentAdvisor.is_admin">Cancel</button>

<h3 class="student-header">Students
  <input ng-model="filterStudents" placeholder="filter students" class="form-control filter-students">
</h3>

<section ng-if="!students" class="loading-container">
  <div class="loading-items">
    <h3>Loading Students</h3>
    <div class="spinner"></div>
  </div>
</section>

<form id="new-student-form" class="form form-inline" ng-show="showNewStudentForm && currentAdvisor.is_admin" ng-submit="createStudent()">

  <label>First name <input ng-model="newStudent.first_name" class="form-control" required></label>
  <label>Last name <input ng-model="newStudent.last_name" class="form-control" required></label>
  <label>Email <input ng-model="newStudent.email" class="form-control" required></label>
  <label>Advisor
    <select class="form-control" required
      ng-model="newStudent.advisor_id"
      ng-options="advisor.id as (advisor.first_name + ' ' + advisor.last_name) for advisor in advisors">
    </select>
  </label>
  <div class="create-student-button">
    <input type="submit" class="btn btn-success" value="Create student">
  </div>
</form>

<table class="table" ng-if="students">
  <thead>
    <th></th>
    <th class="sortable" ng-class="sortableClasses('first_name')" ng-click="alternate('first_name')">First name</th>
    <th class="sortable" ng-class="sortableClasses('last_name')" ng-click="alternate('last_name')">Last name</th>
    <th class="sortable" ng-class="sortableClasses('advisor')" ng-click="alternate('advisor')">Advisor</th>
    <th class="sortable" ng-class="sortableClasses('concentration')" ng-click="alternate('concentration')">Concentration</th>
    <th class="sortable" ng-class="sortableClasses('thesis_starts')" ng-click="alternate('thesis_starts')">Thesis starts</th>
    <th class="sortable" ng-class="sortableClasses('graduation_date')" ng-click="alternate('graduation_date')">Graduation</th>
    <th class="sortable" ng-class="sortableClasses('currently_registered')" ng-click="alternate('currently_registered')">Now registered?</th>
    <th class="sortable" ng-class="sortableClasses('registration_date')" ng-click="alternate('registration_date')">Registration date</th>
  </thead>
  <tbody>
    <tr ng-repeat="student in students | orderBy: ['-pinned', property] | filter : filterStudents">
      <td><span class="glyphicon glyphicon-star" ng-show="student.pinned"></span></td>
      <td><a ui-sref="ips.choose({ student_id: student.id })" class='clickable'>{{ student.first_name }}</a></td>
      <td><a ui-sref="ips.choose({ student_id: student.id })" class='clickable'>{{ student.last_name }}</a></td>
      <td>
        <select
          ng-model="student.advisor_id"
          ng-options="advisor.id as (advisor.first_name + ' ' + advisor.last_name) for advisor in advisors"
          ng-change="updateAdvisor(student)"
          ng-if='currentAdvisor.is_admin'>
        </select>
        <span ng-if='!currentAdvisor.is_admin'>{{ student.advisor.first_name + ' ' + student.advisor.last_name }}</span>
      </td>
      <td>{{ student.concentration }}</td>
      <td>{{ student.thesis_starts }}</td>
      <td>{{ student.graduation_date }}</td>
      <td>{{ student.currently_registered ? "Yes" : "" }}</td>
      <td>{{ student.registration_date }}</td>
    </tr>
  </tbody>
</table>
