<h3>Students</h3>

<table class="table">
  <thead>
    <th class="sortable" ng-class="sortableClasses('advisor')" ng-click="alternate('advisor')">Advisor</th>
    <th class="sortable" ng-class="sortableClasses('first_name')" ng-click="alternate('first_name')">First name</th>
    <th class="sortable" ng-class="sortableClasses('last_name')" ng-click="alternate('last_name')">Last name</th>
    <th class="sortable" ng-class="sortableClasses('concentration')" ng-click="alternate('concentration')">Concentration</th>
    <th class="sortable" ng-class="sortableClasses('thesis_starts')" ng-click="alternate('thesis_starts')">Thesis starts</th>
    <th class="sortable" ng-class="sortableClasses('graduation_date')" ng-click="alternate('graduation_date')">Graduation</th>
    <th class="sortable" ng-class="sortableClasses('currently_registered')" ng-click="alternate('currently_registered')">Now registered?</th>
    <th class="sortable" ng-class="sortableClasses('registration_date')" ng-click="alternate('registration_date')">Registration date</th>
  </thead>
  <tbody>
    <tr ng-repeat="student in students | orderBy: ['-pinned', property]">
      <td>
        <select
          ng-model="student.advisor_id"
          ng-options="advisor.id as (advisor.first_name + ' ' + advisor.last_name) for advisor in advisors"
          ng-change="updateAdvisor(student)">
        </select>
        <span class="glyphicon glyphicon-star" ng-show="student.pinned"></span>
      </td>
      <td><a ui-sref="ips.choose({ student_id: student.id })">{{ student.first_name }}</a></td>
      <td>{{ student.last_name }}</td>
      <td>{{ student.concentration }}</td>
      <td>{{ student.thesis_starts }}</td>
      <td>{{ student.graduation_date }}</td>
      <td>{{ student.currently_registered ? "Yes" : "" }}</td>
      <td>{{ student.registration_date }}</td>
    </tr>
  </tbody>
</table>
