<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <span class="navbar-brand">GIAL Degree Planner</span>
    <p class="navbar-text"><%= link_to "Go To Dashboard", root_path, class: "navbar-link" %></p>
    <% if signed_in? %>
      <div class="navbar-right">
        <% if current_advisor.is_admin %>
          <p class="navbar-text"><%= link_to "Edit Advisors", advisors_path, class: "navbar-link" %></p>
        <% end %>
        <p class="navbar-text"><%= link_to "Edit Account", edit_advisor_registration_path(id: current_advisor.id), class: "navbar-link" %></p>
        <p class="navbar-text"><%= link_to "Log Out", destroy_advisor_session_path, class: "navbar-link" %></p>
      </div>
    <% end %>
  </div>
</nav>
