<nav class="navbar navbar-default">
  <div class="container-fluid">
    <span class="navbar-brand">GIAL Degree Planner</span>
    <% if signed_in? %>
      <div class="navbar-right">
        <p class="navbar-text">Welcome, <%= current_advisor.name %>!</p>
        <p class="navbar-text"><%= link_to "Edit Account", edit_advisor_registration_path(id: current_advisor.id), class: "navbar-link" %></p>
        <p class="navbar-text"><%= link_to "Log Out", destroy_advisor_session_path, class: "navbar-link" %></p>
      </div>
    <% end %>
  </div>
</nav>