/*
*= require_tree .
*= require_self
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  font-family: 'Georgia';
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  background-color: #4D3960;
  border: none;
  -webkit-font-smoothing: antialiased;

  .navbar-brand,
  .navbar-text,
  .navbar-link {
    color: #fff;
  }
}

.clickable {
  cursor: pointer;
  color: #4D3960;
  &:hover {
    color: #D75EAE;
  }
}