@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'xeditable';

@import 'advisors';
@import 'angular_app';
@import 'concentrations';
@import 'courses';
@import 'degrees';
@import 'plans';
@import 'students';
@import 'terms';


body {
  font-family: $sans-serif;
}

h1, h2, h3, h4, .tabs {
  font-family: $serif;
}

.navbar {
  border-radius: 0;
}

.navbar.navbar-inverse {
  background-color: $brand-purple;
  border: none;
  -webkit-font-smoothing: antialiased;

  .nav.navbar-brand {
    color: white;
  }
  .nav {
    .navbar-text,
    .navbar-link {
      color: white;
      &.active {
        background: hsla(0, 0%, 0%, 0.25);
      }
    }
  }
}

.planner {
  background: $light-gray;
  min-height: 100vh;
}

.clickable {
  cursor: pointer;
  color: #4D3960;
  padding: 1px;
  &:hover {
    color: #D75EAE;
  }
}

.tagline {
  color: #555;
  font-style: italic;
  weight: 600;
  display: inline-block;
}

.caps {
  text-transform: uppercase;
}

.sm-text {
  font-size: .6em;
}

.warning-text {
  color: red;
  font-style: italic;
  font-weight: 200;
}

.select-placeholder {
  display: none;
}
