/*
*= require_tree .
*= require_self
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  font-family: 'Georgia';
}

.navbar {
  border-radius: 0;
}

.navbar.navbar-inverse {
  background-color: #4D3960;
  border: none;
  -webkit-font-smoothing: antialiased;

  .nav.navbar-brand {
    color: white;
  }
  .nav {
    .navbar-text,
    .navbar-link {
      color: white;
      &.active {
        background: hsla(0, 0%, 0%, 0.25);
      }
    }
  }
}


.clickable {
  cursor: pointer;
  color: #4D3960;
  &:hover {
    color: #D75EAE;
  }
}

.tagline {
  color: #555;
  font-style: italic;
  weight: 600;
  display: inline-block;
}

.warning-text {
  color: red;
  font-style: italic;
  font-weight: 200;
}

.select-placeholder {
  display: none;
}