.category {
  position: relative;
  margin-top: 3em;
}

.category-table {
  width: 100%;
  td:nth-child(1) { width: 20px; }
  td:nth-child(3) { width: 10px; }
  .credits-input {
    background: transparent;
  }
}

.credits-input {
  width: 2em;
  background: #736f6f;
  padding: 2px;
  border: 0;
}

.category-name {
  display: inline-block;
  position: absolute;
  top: -1em;
  background-color: white;
  padding: 0.25em;
  font-size: 22px;
}

.add-to-list {
  display: inline-block;
  margin-left: -1.5em;
  margin-top: .25em;
}
