// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media print {

  .planner {

  }

  .print-hide {

  }

}

.bordered {
  border: 1px solid #AAA;
  padding: 15px 20px;
  padding-top: -15px;
}
.green-border {
  border: 3px solid #65804C;
}
.green-highlight {
  background-color: rgba(101,128,76,0.2);
}

.course-section {
  margin-bottom: 25px;
  .required-units {
    float: right;
  }
}

.category {
  padding-bottom: 32px;
}

.course-row {
  td {
    padding: 5px;
  }
  .completed-course {
    color: #6FC44A;
    text-decoration: line-through;
    font-style: italic;
  }
}

.upper-right {
  position: absolute;
  top: 20px;
  right: 0;
}
