// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sortable {
  cursor: pointer;
}
.sorted:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sorted.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

// SCHEDULE STYLES
.course-bubble-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  left: 22.5px;
  transition: left 0.5s;
  padding: 5px 5px 0;
  z-index: 10;
}

.course-bubble {
  background: #ddd;
  padding: 10px 5px;
  display: inline-block;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  font-size: 11px;
  width: 100px;
  text-align: center;
  position: relative;
}

.course-bubble-container .course-bubble {
  margin: 0 5px 5px 0;
}

.drag {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.prerequisites {

}

.schedule {

  margin-top: 15px;
  margin-bottom: 120px;

  .term {
    display: inline-block;
    text-align: center;
  }

  .sessions {
    display: inline-block;
    margin: 0px 5px 10px;

    .session {
      height: 100px;
      width: 100px;
      display: inline-block;
      float: left;
      margin: 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-right: 2px dashed #ddd;
      transition: background 0.5s;
      z-index: 0;
    }

    .session:first-child {
      border-left: 1px solid #ccc;
    }

    .session:last-child {
      border-right-style: solid;
    }

  }

  .dates {
    margin-bottom: 20px;
  }

  .terms {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .truncated {
    display: none;
  }


}

.permitted.over {
  background: green !important;
}

.unpermitted {
  background: #ddd;
}

.permitted {
  background: lightgreen;
  border-right: 0 !important;
}

#new-student-button {
  float: right;
  position: relative;
  z-index: 1;
}

#new-student-form {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & > * {
    margin: 0 0.25em;
  }
  .create-student-button {
    display: flex;
    align-items: flex-end;
  }
  input {
    font-weight: normal;
  }
}
