// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sortable {
  cursor: pointer;
}
.sorted:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sorted.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

// SCHEDULE STYLES
.course-bubble-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  left: 22.5px;
  transition: left 0.5s;
  padding: 5px 5px 0;
  z-index: 10;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.course-bubble {
  background: $medium-gray;
  padding: 10px;
  display: inline-block;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  font-size: 11px;
  width: 170px;
  text-align: center;
  position: relative;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.course-bubble:hover {
  background: $dark-gray;
}

.course-bubble-container .course-bubble {
  margin: 0 5px 5px 0;
}

.drag {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.prerequisites {

}

.schedule {

  margin-top: 15px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .year {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }

  .terms {
    display: flex;
    flex-direction: row;
  }

  .term {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 170px;
    margin: 0 2px;
    text-align: center;
    -webkit-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
    background: #fff;

    p {
      padding: 7px 0;
      font-size: 15px;
      margin: 0;
      color: #fff;
      background: $brand-blue;
      -webkit-font-smoothing: antialiased;
    }
  }

  .dates {
    margin-bottom: 20px;
  }

  .truncated {
    display: none;
  }


}

.permitted.over {
  background: #3d2e4c !important;
}

.unpermitted {
  background: #ddd !important;
}

.permitted {
  background: #5f4577 !important;
}

.stuck {
  position: fixed; 
  top: 0; 
  left: 0; 
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #eee;
}

#new-student-button {
  float: right;
  position: relative;
  z-index: 1;
}

#new-student-form {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & > * {
    margin: 0 0.25em;
  }
  .create-student-button {
    display: flex;
    align-items: flex-end;
  }
  input {
    font-weight: normal;
  }
}
