@media print {

  .ips-heading {
    display: none;
  }

  .ips-summary {
    padding: 0;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
  }

}

.ips-summary {

  background: #fff;
  font-family: $serif;
  padding: 20px 40px;
  font-size: 1.15em;

  p {
    margin: 0;
  }
  
  .summary-concentration {
    text-decoration: underline;
  }

  img {
    display: block;
    margin: 0 auto 5px;
    max-width: 80%;
  }

  .info-underline {
    margin: 10px 0 20px;
    p {
      border-bottom: 2px dashed #555;
    }
  }

  .captions {
    display: flex;
    justify-content: space-between;
    .major {
      margin-left: 90px;
    }
  }

  .graduation-summary {
    margin: 10px 0 20px;
    h2 {
      font-size: 18px;
      font-weight: bold;
      border-bottom: 2px solid #555;
      margin: 0;
    }
    .summary-grad-date {
      float: right;
    }
  }

  .summary-prerequisites {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #555;

    .prereq-underline {
      border-bottom: 1px solid #555;
      margin: 20px 5px 0 0;
    }
  }

  .transfer-credit {
    margin-bottom: 5px;
  }

  .summary-plan {
    width: 100%;
    margin: 5px 0;
    td {
      border: 1px solid #555;
      padding: 3px 6px;
    }
    td:last-child {
      width: 12%;
    }
    .summary-required-courses {
      height: 1.2em;
      margin-bottom: .2em;
      box-sizing: border-box;
    }
    .summary-available-courses {
      display: block;
      height: 1.2em;
      margin-bottom: .2em;
      box-sizing: border-box;
    }  
    .fill-in {
      background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }

    .dotted-line-container {
      height: 1.2em;
      clear: left;
      margin-bottom: .2em;

      /* dotted line */
      background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
    .dotted-line-left, .dotted-line-right {
      background: white;
      display: block;
      height: 1.25em;
    }
    .dotted-line-left {
      float: left;
      padding-right: 2px;
    }
    .dotted-line-right {
      float: right;
      padding-left: 2px;
    }
    .dotted-line-spacer {
      height: 1.4em;
    }
  }

  .signatures {
    h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 10px;
    }
  }

  .approval {
    margin-top: .5em;
    &+.approval {
      margin-top: 1.5em;
    }
    p {
      border-bottom: 1px solid #555;
    }
  }

  .line {
    display: flex;
    justify-content: space-between;
  }

  .watermark {
    color: #999;
    float: right;
    margin-top: 1em;
  }

}

.tabs .tab.print-tab {
  background: $brand-orange;
  border-color: $brand-orange;
}

.tabs .tab.print-tab:hover {
  cursor: pointer;
}

.vertical-align-top {
  vertical-align: top;
}
.vertical-align-bottom {
  vertical-align: bottom;
}