$brand-purple: #4D3960;
$brand-blue: #6C97D2;
$brand-green: #54CA37;
$brand-orange: #F96F0B;
$dark-gray: #cccccc;
$medium-gray: #dddddd;
$light-gray: #eeeeee;
$serif: 'Georgia', serif;
$sans-serif: 'Arial', sans-serif;