<main class="planner" ng-app="planner">
  <%= render 'shared/navbar' %>
  <div class="container">
    <div ui-view></div>
    <div ui-view="header"></div>
    <div ui-view="main"></div>
  </div>
</main>
