<div class="category bordered course-section"
     ng-class="{'green-border': category.satisfiedByIntended(),
                'green-highlight': category.satisfiedByCompleted()}">

  <h3>{{ category.name }}</h3>
  <h3 class="upper-right units">Units</h3>
    <div class="category-info">
      <p class="tagline category-tagline" ng-if='category.thesis_hours'>
        {{ category.thesis_hours }} thesis hours
      </p>
      <p class="tagline category-tagline" ng-if='category.elective_hours && !category.thesis_hours'>
        A Comprehensive Exam
      </p>
      <p class="tagline category-tagline" ng-if='category.elective_hours'>
        and {{ category.elective_hours }} elective hours
      </p>
    </div>

  <table class="full-width">
    <tr course-row ng-repeat='availableCourse in category.courses'
        course='availableCourse'
        checkbox-callback='addOrRemoveIntended(course)'
        delete-elective='deleteElective(course)'
        section='available'
        class='course-row'>

      {{ availableCourse.units }}

    </tr>
    <tr>
      <td></td>
      <td>
        <input ng-if='addingClass'
               class='form-control elective-input'
               placeholder='Enter a course name or number'
               ng-blur='hideClassInput($event)'
               bs3-typeahead
               bs3-promise='availableElectives'
               ng-model='addedCourse'
               bs3-afterSelect='addElective'
               bs3-addItem='noneFound'>

        <span class="clickable add-course-link"
              ng-if='!addingClass'
              ng-click='showClassInput()'>
          &#43; Add a course
        </span>

      </td>
    </tr>
  </table>

  <div class='required-units'>Units required: {{ category.required_units }}</div>

</div>

<!-- features to add new course
<modal id='new-course-form'
       category='category'
       afterSave='addElective(course)'
       >
  <modal-title>New Course</modal-title>
  <modal-body>
    <course-form course='courseParams'></course-form>
  </modal-body>
  <modal-footer>some buttons or something</modal-footer>
</modal> -->
