<form ng-submit='submitForm(courseForm.$valid)' name='courseForm' class='modal-form'>

  <div class="row">
    <div class="col-xs-12">

      <div class="col-xs-8">
        <div class="row">

          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
              id='name'
              class="form-control"
              name='name'
              required
              ng-model='course.name'>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              <label for="number">Number</label>
              <input type="text"
              id='number'
              class="form-control"
              name='number'
              required
              ng-model='course.number'>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              <label for="units">Units</label>
              <input type="number"
              id=units
              class="form-control"
              name='units'
              required
              ng-model='course.units'>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              <label for="">Level</label>
              <select name="level"
              class='form-control modal-select'
              name='level'
              required
              ng-model='course.level'
              ng-options='level for level in levels'></select>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id='description'
              class="form-control"
              name='description'
              ng-model='course.description'>
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-4">

        <div class="">
          <div class="form-group">
            <label class="barrier-label">Term</label>
            <div ng-repeat='term in terms'>

              <input type="radio"
              ng-value='term.id'
              required
              name='term'
              ng-model='course.term_id'> {{ term.name }}

            </div>
          </div>
        </div>

        <div class="sessions">
          <div class="form-group">
            <label class="">Sessions</label>
            <span class="tagline sm-text">(Select <span class="caps">all</span> that apply)</span>
            <div ng-repeat='session in sessions'>

              <input type="checkbox"
              ng-value='session.id'
              name='session'
              ng-checked="course.session_ids.indexOf(session.id) > -1"
              ng-required='!course.session_ids.length'
              ng-click="toggleSelection(session.id)"> Session {{ session.name }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        <input type="submit"
        class='btn btn-success btn-block'
        value='Create Course'>
      </div>
    </div>
  </div>

</form>

<a data-dismiss='modal'></a>