<tr>
  <td>
    <input type="checkbox"
           ng-model='course.intended'
           ng-change='checkboxCallback({course: course})'
           ng-disabled='course.required'
           ng-if='!course.completed'>
  </td>
  <td ng-class="{'completed-course': course.completed, 'scheduled-course': course.scheduled }">
    <span>
      {{ course.number + ' ' + course.name }}
    </span>
    <span ng-if='course.elective && !course.completed'
          class='clickable'
          ng-click='deleteElective({course: course})'>
          remove
    </span>
  </td>
  <td class="text-right">

    <span ng-if="section === 'available'">{{ course.units }}</span>

    <button ng-if="section === 'completed'"
            ng-click='buttonCallback({course: course})'
            class="btn btn-danger">
      Uncomplete
    </button>

    <button ng-if="section === 'intended'"
            ng-click='buttonCallback({course: course})'
            class="btn btn-primary">
      Complete
    </button>

  </td>
</tr>
